<header id="banner">

    <a href="">
        <img class="wardrobe" src="images/wardrobe_btn.png">
    </a>

    <div class="oh_snap" ng-show="redLight">
        <h1>Oh SNAP</h1>
        <p>Someone is Wearing your Gearing</p>
    </div>
    <div class="so_snap" ng-show="amberLight">
        <h1>So-So SNAP</h1>
        <p>There is a 40% Chance someone is wearing your gearing</p>
    </div>
    <div class="no_snap" ng-show="greenLight">
        <h1>No SNAP</h1>
        <p>There is a 10% chance someone is wearing your gearing</p>
    </div>

    <div class="default" ng-hide="redLight||greenLight||amberLight">
        <h1>SCHNAP</h1>
        <p>Click below to check your flow</p>
    </div>

    <div class="mirrorWrapper">
        <img class="mirror" src="images/mirror.png">
        <span>
            <img class="topImage" ng-click="shirtCycle()" ng-src="images/{{currentShirt.image}}" />
            <img class="bottomImage" ng-click="trouserCycle()" ng-src="images/{{currentTrouser.image}}"/>
      </span>
    </div>

</header>