<header id="banner">

    <a href="">
        <img class="wardrobe" src="images/wardrobe_btn.png">
        <img class="emptyIcon" src="images/empty_icon.png">
    </a>
    
    <div class="default" ng-class="customStyle.colorClass">
        <h1>SCHNAP</h1>
        <p>Tap below to check your flow</p>
        <p>{{result.message}}</p>
    </div>

    <div class="mirrorWrapper">
        <img class="mirror" src="images/mirror.png">
        <span>
            <img class="topImage" ng-click="shirtCycle()" ng-src="images/{{currentShirt.image}}" />
            <img class="bottomImage" ng-click="trouserCycle()" ng-src="images/{{currentTrouser.image}}"/>
      </span>
    </div>

</header>