//WEB

#banner {
  /*max-width: 100%;*/
}

body {
  margin: 0px;
}

.default {
    background: #00ACC1;
    color: #FFF;
    height: 3.5em;
    padding-top: 1px;
    position: relative;
    text-align: center;
    width:100%;
}

.wardrobe {
  float: left;
  margin-top: 0.5em;
  margin-left: 1.5em;
  position: relative;
  width: 3em;
  z-index: 2;
}

p {
  text-align: center;
  width: 100%;
  z-index: 3;
  margin-top: -25px;
  margin-left: -70px;
}

h1 {
  margin-top: 1px;
  margin-right: 70px;
}

.mirror {
  margin-left: 20.5%;
  padding-top: 2em;
  position: absolute;
  width: 15em;
  z-index: 2;
}

.topImage{
  width: 40%;
  z-index: 5;
  position: absolute;
  margin-left: 30%;
  margin-top: 28%;
}

.bottomImage{
  width: 40%;
  z-index: 5;
  position: absolute;
  margin-left: 30%;
  margin-top: 74%;
}
